@model AccomodationTypesListingModel
@if(Model != null && Model.AccomodationTypes != null && Model.AccomodationTypes.Count() > 0)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody >
            @foreach (var accomodationType in Model.AccomodationTypes)
            {
                <tr>
                    
                    <td>
                        @accomodationType.Name
                    </td>
                    <td>
                        @accomodationType.Description
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary"><i class="fa-solid fa-trash"></i> Edit</button>
                        <button type="button" class="btn btn-danger"><i class="fa-solid fa-pen"></i>  Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else{
<div class="alert alert-warning" role="alert">
    Sorry! No records exist.
</div>
}