@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Accomodation Types</h2>

<partial name="_Listing" model="Model"></partial>